<div *ngIf="selectedRecipe">
  <h2>
    {{ this.selectedRecipe.name }}
  </h2>
  <h3>{{ this.selectedRecipe.serves }} personen</h3>
  <h4>Ingredienten</h4>
  <ul>
    <li *ngFor="let ingredient of selectedRecipe.ingredients">
      {{ ingredient.amount }}
      {{ ingredient.unit }}
      {{ ingredient.name }}
    </li>
  </ul>
  <p>
    {{ selectedRecipe.description }}
  </p>
  <app-button (click)="openModal()">Delete</app-button>
  <app-modal [id]="modalId">
    <h2 title>Weet je zeker dat je dit recept wil verwijderen?</h2>
    <app-button (click)="onDelete(selectedRecipe.id)">Ja</app-button>
    <app-button type="primary" (click)="closeModal()" type="secondary"
      >Nee</app-button
    >
  </app-modal>
</div>
