button {
  border: none;
  background-color: #2c998a;
  padding: 15px 35px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(34, 119, 107);
  }

  &.secondary {
    background-color: rgb(132, 143, 141);

    &:hover {
      background-color: rgb(87, 107, 104);
    }
  }

  &.minimal {
    background-color: white;
    color: rgb(131, 148, 146);

    &:hover {
      color: black;
    }
  }

  &.disabled {
    cursor: auto;
    color: white;
    background-color: rgb(212, 224, 223);
  }
}
