form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    border: 1px solid slategrey;
    border-radius: none;
    margin: 10px 0 20px 0;
    padding: 10px 20px;
  }

  .ingredients {
    margin-bottom: 40px;

    &.ingredient {
      margin-bottom: 20px;
    }

    label {
      margin-right: 8px;

      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }

  .buttonbar {
    display: flex;
    justify-content: flex-end;

    ::content {
      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}
