<app-layout>
  <div class="card-grid">
    <app-new-recipe-button (click)="openModal()"></app-new-recipe-button>
    <app-card
      *ngFor="let recipe of recipes"
      [img]="recipe.img"
      (click)="selectRecipe(recipe.id)"
      [name]="recipe.name"
      [id]="recipe.id"
    >
      {{ recipe.name }}
    </app-card>
  </div>
  <app-aside aside>
    <app-details></app-details>
  </app-aside>
  <app-modal [id]="modalId">
    <h2 title>New recipe</h2>
    <app-new-recipe (close)="closeModal()"></app-new-recipe>
  </app-modal>
</app-layout>
