nav {
  background-color: #efefef;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
}

h1 {
  font-family: Roboto;
  font-weight: regular;
  color: #696969;
  font-size: 22px;
}

button {
  border: none;
  width: 30px;
  height: 30px;

  &:hover {
    background-color: #696969;
  }
}
